<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	version="3.1">
	<display-name>Benvenuti in questa app che fa cose</display-name>

	<listener>
		<listener-class>it.alessandromodica.legacy.views.AppViewListener</listener-class>
	</listener>

	<!-- Servlet classica legacy approach -->
	<servlet>
		<servlet-name>AppServlet</servlet-name>
		<servlet-class>it.alessandromodica.legacy.views.AppViewServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AppServlet</servlet-name>
		<url-pattern>/handler</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsf</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

</web-app>
